.container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    background-color: yellow;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-content:space-evenly;
    /* align-items: center; */
}

.container > .card-div:nth-last-child(1) {
    margin-left: 20px;
    margin-right: auto; 
  }



.card-div.last-row {
    justify-content: flex-start; /* Align items to the left */
  }

.img-card{
    width: 250px;
    border-radius: 10px;
    border: 2px solid blue;
}