.container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    /* background-color: yellow; */
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
    justify-content:flex-start;
    /* align-items: center; */
}

.card-div p{
  width: 250px;
  font-weight: bold;
}

/* .container > *:last-of-type(-n+3){
  margin-right: auto; 
  } */

.img-card{
    width: 250px;
    border-radius: 10px;
    border: 2px solid blue;
}